#service {
  background-image: url("service.jpg"); /* Adjust the path to the image */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
}

.service__container {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.service__content {
  grid-column: 1 / -1; /* Span across all columns */
  padding: 2rem 4rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.service__list {
  list-style: none;
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
  
}

.service__list li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-white);
}

.service__list span {
  padding: 5px 12px;
  font-size: 1.75rem;
  color: var(--text-dark);
  background-color: var(--text-light);
  border-radius: 100%;
}

.service__list li:nth-child(1) span {
  color: #60a5fa;
  background-color: #dbeafe;
}

.service__list li:nth-child(2) span {
  color: #f472b6;
  background-color: #fce7f3;
}

.service__list li:nth-child(3) span {
  color: #c084fc;
  background-color: #f3e8ff;
}

.service__list li:nth-child(4) span {
  color: #fb7185;
  background-color: #ffe4e6;
}
.section__header {
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}