.room__grid {
  margin-top: 4rem;
  display: flex; /* Change from grid to flex */
  gap: 1rem;
  overflow-x: auto; /* Optional: Add horizontal scrolling if necessary */
}

.room__card {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  flex: 0 0 auto; /* Ensure cards don't grow in size */
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Remove the following styles since they are specific to grid */
/*
.room__card__image {
  position: relative;
  isolation: isolate;
}

.room__card__icons {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
  z-index: 1;
}

.room__card__icons span {
  display: inline-block;
  padding: 2px 8px;
  font-size: 1.5rem;
  background-color: var(--white);
  border-radius: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.room__card__icons span:nth-child(1) {
  color: #f472b6;
}

.room__card__icons span:nth-child(2) {
  color: #c084fc;
}

.room__card__icons span:nth-child(3) {
  color: #60a5fa;
}
*/

.room__card__details {
  padding: 1rem;
}

.room__card p {
  margin-bottom: 0.5rem;
  color: var(--text-light);
  
}

.room__card h5 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.room__card h5 span {
  font-size: 1.1rem;
  color: red;
}

.room__header {
  text-align: center;
  margin-bottom: 2rem;
}
.section__header {
  max-width: 600px;
  margin-bottom: 1rem;
  margin-left: auto;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  color: white;
  align-items: center;
  justify-content: center;
}
.room__card__icons {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.room__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: peach; /* Change color to peach */
}

.room__card p {
  margin-bottom: 0.5rem;
  color: white; /* Change color to white */
}
.room__container {
  background-image: url('3.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 900px; /* Adjust the maximum width as needed */
  margin: 0 auto;
} 